body {
    margin:0;
   height:100px;
    
}

.bar{
    width: 50px;
    height: 50px;
    background:red;
    transform-origin: top left;
    animation:grow 4s;
    display: grid;
    place-items: center;
    
    
  } 
  @keyframes grow{

    from{
        transform: scale(1,1)
    }
    to{ transform:scale(10,1)
    }
  }
  
  
  
